
<mat-dialog-content>
  <div class="addItem">
  <!-- Fach -->
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Wähle ein Fach aus:</mat-label>
      <mat-select id="subject" name="subject" [(ngModel)]="subject">
        <mat-option *ngFor="let item of (addFaecherListService.fach$ | async)" [value]="item.id">{{item.Fachname}}</mat-option>
      </mat-select>
      <mat-hint align="end">Wähle das Fach aus.</mat-hint>
    </mat-form-field>
  </p>
  <!-- Gruppe -->
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Wähle eine Gruppe aus:</mat-label>
      <mat-select id="group" name="group" [(ngModel)]="group">
        <mat-option *ngFor="let item of (GruppenFBListservice.gruppen$ | groupFilter | async)" [value]="item.id">{{item.Gruppenname}}</mat-option>
      </mat-select>
    </mat-form-field>
  </p>

  <!-- Kategorie -->
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Wähle eine Kategorie aus:</mat-label>
      <mat-select id="category" name="category" [(ngModel)]="category">
        <mat-option value="HÜ">Hausübung</mat-option>
        <mat-option value="WH">Wiederholung</mat-option>
        <mat-option value="Test">Test</mat-option>
        <mat-option value="SA">Schularbeit</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Datum fällig:</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="todoDueDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Beschreibung:</mat-label>
      <textarea matInput cols = "50" rows = "2" [(ngModel)]="todoDescription"></textarea>
    </mat-form-field>
  </p>

  <button mat-button (click)="addTodo()">Hinzufügen</button>
</div>

</mat-dialog-content>
