<h2>Todos</h2>

<div class="addItem">

  <!-- Fach -->
  <label for="subject">Wähle ein Fach aus:</label>
  <select id="subject" name="subject" [(ngModel)]="subject">
    <option value="Mathe">Mathematik</option>
    <option value="Französisch">Französisch</option>
    <option value="Englisch">Englisch</option>
    <option value="Spanisch">Spanisch</option>
    <option value="Latein">Latein</option>
    <option value="PuP">Psychologie & Philosophie</option>
    <option value="Biologie">Biologie</option>
    <option value="Geschichte">Geschichte</option>
    <option value="Geographie">Geographie</option>
    <option value="Religion">Religion</option>
    <option value="Zeichnen">Zeichnen</option>
  </select> <br/>

  <!-- Gruppe -->
  <label for="gruppen">Wähle eine Gruppe aus:</label>
  <select id="gruppen" name="gruppen" [(ngModel)]="group">

    <option *ngFor="let item of (GruppenFBListservice.gruppen)" [value]="item.id">{{item.Gruppenname}}</option>

  </select> <br/>

  <!-- Kategorie -->
  <label for="category">Wähle eine Kategorie aus:</label>
  <select id="category" name="category" [(ngModel)]="category">
    <option value="HÜ">Hausübung</option>
    <option value="WH">Wiederholung</option>
    <option value="Test">Test</option>
    <option value="SA">Schularbeit</option>
  </select> <br/>

  Datum <input type="date" [(ngModel)]="todoDueDate"> <br/>
  Beschreibung: <br/>
  <textarea cols = "50" rows = "10" input type="text" [(ngModel)]="todoDescription"> </textarea> <br/>
  <button (click)="addTodo()">Hinzufügen</button>
</div>

