<h2>Todos</h2>

<div class="addItem">

  <!-- Fach -->
  <label for="subject">Wähle ein Fach aus:</label>
  <select id="subject" name="subject" [(ngModel)]="subject"> 
    <option value="Mathe">Mathematik</option>
    <option value="Französisch">Französisch</option>
    <option value="Englisch">Englisch</option>
    <option value="Spanisch">Spanisch</option>
    <option value="Latein">Latein</option>
    <option value="PuP">Psychologie & Philosophie</option>
    <option value="Biologie">Biologie</option>
    <option value="Geschichte">Geschichte</option>
    <option value="Geographie">Geographie</option>
    <option value="Religion">Religion</option>
    <option value="Zeichnen">Zeichnen</option>
  </select> <br/>

  <!-- Gruppe -->
  <label for="gruppen">Wähle eine Gruppe aus:</label>
  <select id="gruppen" name="gruppen" [(ngModel)]="group">        
      
    <option *ngFor="let item of (GruppenFBListservice.gruppen)" [value]="item.id">{{item.Gruppenname}}</option>



  </select> <br/>

  <!-- Kategorie -->
  <label for="category">Wähle eine Kategorie aus:</label>
  <select id="category" name="category" [(ngModel)]="category"> 
    <option value="HÜ">Hausübung</option>
    <option value="WH">Wiederholung</option>
    <option value="Test">Test</option>
    <option value="SA">Schularbeit</option>
  </select> <br/>

  Datum <input type="date" [(ngModel)]="todoDueDate"> <br/>
  Beschreibung: <br/>
  <textarea cols = "50" rows = "10" input type="text" [(ngModel)]="todoDescription"> </textarea> <br/>

  <button (click)="addTodo()">Hinzufügen</button>
</div>

<p>Done anzeigen: <input type="checkbox" [(ngModel)]="showDone"></p>

<!-- <div *ngFor="let item of todoListService.getTodos(showDone ? undefined : false) | async"> -->
<div *ngFor="let item of (todoListService.todos | todoFilterPipe: (showDone ? null : false))">
  <button (click)="todoListService.toggleDoneStateById(item)">Done</button>
  <button (click)="todoListService.deleteTodoById(item.id)">Löschen</button>
  <span [ngStyle]="{'text-decoration': (item.doneDate ? 'line-through' : 'none')}">
    <span class="date">{{ item.dueDate.seconds * 1000 | date:'EE, dd.MM.' }}</span> &nbsp;
    <span class="subject">{{ item.subject }}</span> &nbsp;
    <span class="group">{{ item.group }}</span> &nbsp;
    <span class="category">{{ item.category }}</span> &nbsp;
    <span class="description">{{ item.description }}</span> 

  </span>
</div>

<p>
  Todo: {{ (todoListService.todos | todoFilterPipe: false).length }}<br />
  Done: {{ (todoListService.todos | todoFilterPipe: true).length }}
</p>


<!--  Neue Tabelle -->
<table mat-table [dataSource]="(todoListService.todos | todoFilterPipe: (showDone ? null : false))" class="mat-elevation-z8">

   <!-- TodoDueDate Column -->
   <ng-container matColumnDef="todoDueDate">
    <th mat-header-cell *matHeaderCellDef> DueDate</th>
    <td mat-cell *matCellDef="let element"> {{element.dueDate.seconds * 1000 | date:'EE, dd.MM.'}} </td>
  </ng-container>

  <!-- subject Column -->
  <ng-container matColumnDef="subject">
    <th mat-header-cell *matHeaderCellDef> Subject </th>
    <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
  </ng-container>

  <!-- group Column -->
  <ng-container matColumnDef="group">
    <th mat-header-cell *matHeaderCellDef> Group </th>
    <td mat-cell *matCellDef="let element"> {{element.group}} </td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> category </th>
    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="todoDescription">
    <th mat-header-cell *matHeaderCellDef> description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

 

  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="todoListService.toggleDoneStateById(row.id)">
  </tr> 
</table> 