<h2>Gruppe</h2>

<div class="addItem">

    <label for="Gruppenname">neue Gruppe erstellen:</label> &nbsp;
    Gruppenname: <input type="text" [(ngModel)]="Gruppenname">
    Beschreibung: <input type="text" [(ngModel)]="Beschreibung"> <br/>
    <button (click)="addGruppe()">Hinzufügen</button>

</div>

<!--
<div class="addGruppe">
    <span class="Gruppenname">{{ item.Gruppenname}}</span> &nbsp;
</div>
-->
<!--
<div *ngFor="let item of (GruppenListService.gruppen)">
    <button (click)="GruppenListService.deleteGruppeById(item.id)">Löschen</button> &nbsp;
      <span class="Gruppe">{{item.Gruppenname}}</span>
  </div>
  -->

<table>
    <tr>
        <th>Gruppenname</th>
        <th>Beschreibung</th>
    </tr>
    <tr *ngFor="let item of (GruppenListService.gruppen)">
        <td class="Gruppenname">{{ item.Gruppenname }}</td>
        <td class="Beschreibung">{{ item.Beschreibung }}</td>
    </tr>
</table>

