<h2>Gruppe</h2>


<div class="addItem">
  <mat-form-field class="Gruppenname">
    <mat-label>Gruppenname</mat-label>
    <input matInput type="text" [(ngModel)]="Gruppenname">
  </mat-form-field>

  <mat-form-field class="Beschreibung">
    <mat-label>Beschreibung</mat-label>
    <textarea matInput type="text" [(ngModel)]="Beschreibung"></textarea>
  </mat-form-field>
  
  <button mat-button (click)="addGruppe()">Hinzufügen</button>
</div>

<table>
    <tr>
        &nbsp; <th>Gruppenname</th>
        <th>Beschreibung</th>
    </tr>
    <tr *ngFor="let item of GruppenListService.gruppen$ | async">
        <button (click)="GruppenListService.deleteGruppeById(item.id)">Löschen</button>
            <td class="Gruppenname">{{ item.Gruppenname }}</td>
            <td class="Beschreibung">{{ item.Beschreibung }}</td>
    </tr>
</table>
